<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>팝빌 SDK Express Example. </title>
</head>
<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <ul>
            <li>응답코드 (Response.code) : <%= code %></li>
            <li>응답메시지 (Response.message) : <%= message %></li>
            <% if (typeof ntsConfirmNum  != 'undefined') { %>
              <li>국세청승인번호 (Response.ntsConfirmNum) : <%= ntsConfirmNum %></li>
            <% } %>
        </ul>
    </fieldset>
</div>
</body>
</html>
